@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

body {
  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

.title-game {
  font-size: x-large;
}

.main-app-container {
  padding-top: 1em;
  width: 20em;
  text-align: center;
}

.counter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;

  button {
    background-color: #CCC;
    border: none;
    height: 30px;
    width: 80px;
    margin-left: 1em;
    margin-right: 1em;

    &:hover {
      background-color: $accent-gray;
    }
  }
}

.player-1 {
  float: inherit;
}


.player-1-against-human{
   float: left;
 }


.player-2{
  float: right;
}

.choose-opponent{
  padding: 1em 0 1em 0;
}

.score-style{
  display: inline-block;
  padding: 2px;

  .score-elem{
    display: inline-block;
  }
}
